.noteBackground{
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #0000005b;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}