h1{
  font-size: 4rem;
}
.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}
