.profile_icon{
    font-size: 9.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #111; */
    border-radius: 50%;
    background-color: aquamarine;
    padding: 1rem;
}